<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>FormatVersion</key>
	<string>1.2</string>
	<key>RunDestination</key>
	<dict>
		<key>LocalComputer</key>
		<dict>
			<key>BusSpeedInMHz</key>
			<integer>100</integer>
			<key>CPUCount</key>
			<integer>1</integer>
			<key>CPUKind</key>
			<string>Intel Core i5</string>
			<key>CPUSpeedInMHz</key>
			<integer>2300</integer>
			<key>Identifier</key>
			<string>79A0604D-790C-5721-8B68-92B991C26213</string>
			<key>IsConcreteDevice</key>
			<true/>
			<key>LogicalCPUCoresPerPackage</key>
			<integer>4</integer>
			<key>ModelCode</key>
			<string>MacBookPro14,1</string>
			<key>ModelName</key>
			<string>MacBook Pro</string>
			<key>ModelUTI</key>
			<string>com.apple.macbookpro-13-retina-usbc-2017</string>
			<key>Name</key>
			<string>My Mac</string>
			<key>NativeArchitecture</key>
			<string>x86_64h</string>
			<key>OperatingSystemVersion</key>
			<string>10.13.6</string>
			<key>OperatingSystemVersionWithBuildNumber</key>
			<string>10.13.6 (17G65)</string>
			<key>PhysicalCPUCoresPerPackage</key>
			<integer>2</integer>
			<key>Platform</key>
			<dict>
				<key>Identifier</key>
				<string>com.apple.platform.macosx</string>
				<key>Name</key>
				<string>macOS</string>
			</dict>
			<key>RAMSizeInMegabytes</key>
			<integer>16384</integer>
		</dict>
		<key>Name</key>
		<string>iPhone 8 Plus</string>
		<key>TargetArchitecture</key>
		<string>x86_64</string>
		<key>TargetDevice</key>
		<dict>
			<key>Identifier</key>
			<string>6D624F1D-DC2E-4262-8EE4-A05189375BDF</string>
			<key>IsConcreteDevice</key>
			<true/>
			<key>ModelCode</key>
			<string>iPhone10,5</string>
			<key>ModelName</key>
			<string>iPhone 8 Plus</string>
			<key>ModelUTI</key>
			<string>com.apple.iphone-8-plus-2</string>
			<key>Name</key>
			<string>iPhone 8 Plus</string>
			<key>NativeArchitecture</key>
			<string>x86_64</string>
			<key>OperatingSystemVersion</key>
			<string>12.1</string>
			<key>OperatingSystemVersionWithBuildNumber</key>
			<string>12.1 (16B91)</string>
			<key>Platform</key>
			<dict>
				<key>Identifier</key>
				<string>com.apple.platform.iphonesimulator</string>
				<key>Name</key>
				<string>iOS Simulator</string>
			</dict>
		</dict>
		<key>TargetSDK</key>
		<dict>
			<key>Identifier</key>
			<string>iphonesimulator12.1</string>
			<key>IsInternal</key>
			<false/>
			<key>Name</key>
			<string>Simulator - iOS 12.1</string>
			<key>OperatingSystemVersion</key>
			<string>12.1</string>
		</dict>
	</dict>
	<key>TestableSummaries</key>
	<array>
		<dict>
			<key>DiagnosticsDirectory</key>
			<string>ios-simple-objcTests-2870AB1E-30CA-4F92-95D7-B439397A4364</string>
			<key>ProjectPath</key>
			<string>ios-simple-objc.xcodeproj</string>
			<key>TargetName</key>
			<string>ios-simple-objcTests</string>
			<key>TestKind</key>
			<string>app hosted</string>
			<key>TestName</key>
			<string>ios-simple-objcTests</string>
			<key>TestObjectClass</key>
			<string>IDESchemeActionTestableSummary</string>
			<key>Tests</key>
			<array>
				<dict>
					<key>Duration</key>
					<real>0.34973204135894775</real>
					<key>Subtests</key>
					<array>
						<dict>
							<key>Duration</key>
							<real>0.34856092929840088</real>
							<key>Subtests</key>
							<array>
								<dict>
									<key>Duration</key>
									<real>0.34774100780487061</real>
									<key>Subtests</key>
									<array>
										<dict>
											<key>Duration</key>
											<real>0.00072991847991943359</real>
											<key>TestIdentifier</key>
											<string>ios_simple_objcTests/testExample</string>
											<key>TestName</key>
											<string>testExample</string>
											<key>TestObjectClass</key>
											<string>IDESchemeActionTestSummary</string>
											<key>TestStatus</key>
											<string>Success</string>
											<key>TestSummaryGUID</key>
											<string>A0B12AC0-A3E4-48EC-A3F8-FC6475F25256</string>
										</dict>
										<dict>
											<key>Duration</key>
											<real>0.00044989585876464844</real>
											<key>TestIdentifier</key>
											<string>ios_simple_objcTests/testExample2</string>
											<key>TestName</key>
											<string>testExample2</string>
											<key>TestObjectClass</key>
											<string>IDESchemeActionTestSummary</string>
											<key>TestStatus</key>
											<string>Success</string>
											<key>TestSummaryGUID</key>
											<string>128B41AE-E0D6-488E-A28F-1204CDC818FE</string>
										</dict>
										<dict>
											<key>Duration</key>
											<real>0.34510505199432373</real>
											<key>PerformanceMetrics</key>
											<array>
												<dict>
													<key>Identifier</key>
													<string>com.apple.XCTPerformanceMetric_WallClockTime</string>
													<key>MaxPercentRegression</key>
													<integer>10</integer>
													<key>MaxPercentRelativeStandardDeviation</key>
													<integer>10</integer>
													<key>MaxRegression</key>
													<real>0.10000000000000001</real>
													<key>MaxStandardDeviation</key>
													<real>0.10000000000000001</real>
													<key>Measurements</key>
													<array>
														<real>2.7999999999999999e-06</real>
														<real>1.449e-06</real>
														<real>8.2900000000000002e-07</real>
														<real>7.3499999999999995e-07</real>
														<real>7.8599999999999997e-07</real>
														<real>4.8699999999999995e-07</real>
														<real>3.5400000000000002e-07</real>
														<real>3.6399999999999998e-07</real>
														<real>4.7399999999999998e-07</real>
														<real>4.3799999999999998e-07</real>
													</array>
													<key>Name</key>
													<string>Time</string>
													<key>UnitOfMeasurement</key>
													<string>seconds</string>
												</dict>
											</array>
											<key>TestIdentifier</key>
											<string>ios_simple_objcTests/testPerformanceExample</string>
											<key>TestName</key>
											<string>testPerformanceExample</string>
											<key>TestObjectClass</key>
											<string>IDESchemeActionTestSummary</string>
											<key>TestStatus</key>
											<string>Success</string>
											<key>TestSummaryGUID</key>
											<string>5626488F-B404-42F9-A786-5DD182ACB068</string>
										</dict>
									</array>
									<key>TestIdentifier</key>
									<string>ios_simple_objcTests</string>
									<key>TestName</key>
									<string>ios_simple_objcTests</string>
									<key>TestObjectClass</key>
									<string>IDESchemeActionTestSummaryGroup</string>
								</dict>
							</array>
							<key>TestIdentifier</key>
							<string>ios-simple-objcTests.xctest</string>
							<key>TestName</key>
							<string>ios-simple-objcTests.xctest</string>
							<key>TestObjectClass</key>
							<string>IDESchemeActionTestSummaryGroup</string>
						</dict>
					</array>
					<key>TestIdentifier</key>
					<string>All tests</string>
					<key>TestName</key>
					<string>All tests</string>
					<key>TestObjectClass</key>
					<string>IDESchemeActionTestSummaryGroup</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>DiagnosticsDirectory</key>
			<string>ios-simple-objcUITests-6E4B9051-DF8B-4615-B8AB-1B6767F8F0C1</string>
			<key>ProjectPath</key>
			<string>ios-simple-objc.xcodeproj</string>
			<key>TargetName</key>
			<string>ios-simple-objcUITests</string>
			<key>TestKind</key>
			<string>UI</string>
			<key>TestName</key>
			<string>ios-simple-objcUITests</string>
			<key>TestObjectClass</key>
			<string>IDESchemeActionTestableSummary</string>
			<key>Tests</key>
			<array>
				<dict>
					<key>Duration</key>
					<real>12.32480001449585</real>
					<key>Subtests</key>
					<array>
						<dict>
							<key>Duration</key>
							<real>12.323086977005005</real>
							<key>Subtests</key>
							<array>
								<dict>
									<key>Duration</key>
									<real>12.321789979934692</real>
									<key>Subtests</key>
									<array>
										<dict>
											<key>ActivitySummaries</key>
											<array>
												<dict>
													<key>ActivityType</key>
													<string>com.apple.dt.xctest.activity-type.internal</string>
													<key>FinishTimeInterval</key>
													<real>568123776.96717703</real>
													<key>StartTimeInterval</key>
													<real>568123776.87169898</real>
													<key>Title</key>
													<string>Start Test at 2019-01-02 13:09:36.872</string>
													<key>UUID</key>
													<string>CE23D189-E75A-437D-A4B5-B97F1658FC98</string>
												</dict>
												<dict>
													<key>ActivityType</key>
													<string>com.apple.dt.xctest.activity-type.deletedAttachment</string>
													<key>FinishTimeInterval</key>
													<real>568123776.87169898</real>
													<key>StartTimeInterval</key>
													<real>568123776.87169898</real>
													<key>Title</key>
													<string>Some screenshots were deleted because your scheme is configured to remove automatic screenshots on success.</string>
													<key>UUID</key>
													<string>483B5EB8-6720-4E2D-AFC9-ED8F962DE865</string>
												</dict>
												<dict>
													<key>ActivityType</key>
													<string>com.apple.dt.xctest.activity-type.internal</string>
													<key>FinishTimeInterval</key>
													<real>568123781.54660296</real>
													<key>StartTimeInterval</key>
													<real>568123776.96862602</real>
													<key>SubActivities</key>
													<array>
														<dict>
															<key>ActivityType</key>
															<string>com.apple.dt.xctest.activity-type.internal</string>
															<key>FinishTimeInterval</key>
															<real>568123781.54566801</real>
															<key>StartTimeInterval</key>
															<real>568123776.97601902</real>
															<key>SubActivities</key>
															<array>
																<dict>
																	<key>ActivityType</key>
																	<string>com.apple.dt.xctest.activity-type.internal</string>
																	<key>FinishTimeInterval</key>
																	<real>568123781.54489899</real>
																	<key>StartTimeInterval</key>
																	<real>568123777.03717399</real>
																	<key>SubActivities</key>
																	<array>
																		<dict>
																			<key>ActivityType</key>
																			<string>com.apple.dt.xctest.activity-type.internal</string>
																			<key>FinishTimeInterval</key>
																			<real>568123780.54294205</real>
																			<key>StartTimeInterval</key>
																			<real>568123780.24163699</real>
																			<key>Title</key>
																			<string>Wait for Bitrise.ios-simple-objc to idle</string>
																			<key>UUID</key>
																			<string>9C852848-E9FB-4C7B-B3B5-C76518909FB9</string>
																		</dict>
																	</array>
																	<key>Title</key>
																	<string>Launch Bitrise.ios-simple-objc</string>
																	<key>UUID</key>
																	<string>1D7E1C6A-D0A3-432F-819F-64BE07C30517</string>
																</dict>
															</array>
															<key>Title</key>
															<string>Open Bitrise.ios-simple-objc</string>
															<key>UUID</key>
															<string>8D58ABBC-66EA-4F12-B5A1-9D24AE0EA8BD</string>
														</dict>
													</array>
													<key>Title</key>
													<string>Set Up</string>
													<key>UUID</key>
													<string>48E43A68-3D66-4465-AAFF-37F5C4D46D78</string>
												</dict>
												<dict>
													<key>ActivityType</key>
													<string>com.apple.dt.xctest.activity-type.internal</string>
													<key>FinishTimeInterval</key>
													<real>568123781.91435695</real>
													<key>StartTimeInterval</key>
													<real>568123781.54910803</real>
													<key>SubActivities</key>
													<array>
														<dict>
															<key>ActivityType</key>
															<string>com.apple.dt.xctest.activity-type.internal</string>
															<key>FinishTimeInterval</key>
															<real>568123781.57913399</real>
															<key>StartTimeInterval</key>
															<real>568123781.54992795</real>
															<key>Title</key>
															<string>Wait for Bitrise.ios-simple-objc to idle</string>
															<key>UUID</key>
															<string>26CCC558-9578-4C62-8DA7-D1D0CFC40720</string>
														</dict>
														<dict>
															<key>ActivityType</key>
															<string>com.apple.dt.xctest.activity-type.internal</string>
															<key>FinishTimeInterval</key>
															<real>568123781.62416804</real>
															<key>StartTimeInterval</key>
															<real>568123781.57988501</real>
															<key>SubActivities</key>
															<array>
																<dict>
																	<key>ActivityType</key>
																	<string>com.apple.dt.xctest.activity-type.internal</string>
																	<key>FinishTimeInterval</key>
																	<real>568123781.62377095</real>
																	<key>StartTimeInterval</key>
																	<real>568123781.61883998</real>
																	<key>Title</key>
																	<string>Check for interrupting elements affecting Other</string>
																	<key>UUID</key>
																	<string>0067F3C3-F3DE-416F-8B14-BE3EA0AD9312</string>
																</dict>
															</array>
															<key>Title</key>
															<string>Find the Other</string>
															<key>UUID</key>
															<string>5AF1CAEF-D7F8-4F6A-B9EE-BAEFD6474B9F</string>
														</dict>
														<dict>
															<key>ActivityType</key>
															<string>com.apple.dt.xctest.activity-type.internal</string>
															<key>FinishTimeInterval</key>
															<real>568123781.87829399</real>
															<key>StartTimeInterval</key>
															<real>568123781.62461698</real>
															<key>Title</key>
															<string>Synthesize event</string>
															<key>UUID</key>
															<string>0CDFBF84-4201-481E-8CAD-B2FD541676D8</string>
														</dict>
														<dict>
															<key>ActivityType</key>
															<string>com.apple.dt.xctest.activity-type.internal</string>
															<key>FinishTimeInterval</key>
															<real>568123781.91341496</real>
															<key>StartTimeInterval</key>
															<real>568123781.87924194</real>
															<key>Title</key>
															<string>Wait for Bitrise.ios-simple-objc to idle</string>
															<key>UUID</key>
															<string>1543A5C5-46DC-47C6-85CB-E783222A89CA</string>
														</dict>
													</array>
													<key>Title</key>
													<string>Swipe right Other</string>
													<key>UUID</key>
													<string>51C53E76-DCE2-4B94-BC46-507F88886A4A</string>
												</dict>
												<dict>
													<key>ActivityType</key>
													<string>com.apple.dt.xctest.activity-type.internal</string>
													<key>FinishTimeInterval</key>
													<real>568123782.26673603</real>
													<key>StartTimeInterval</key>
													<real>568123781.91544294</real>
													<key>SubActivities</key>
													<array>
														<dict>
															<key>ActivityType</key>
															<string>com.apple.dt.xctest.activity-type.internal</string>
															<key>FinishTimeInterval</key>
															<real>568123781.94625604</real>
															<key>StartTimeInterval</key>
															<real>568123781.91596997</real>
															<key>Title</key>
															<string>Wait for Bitrise.ios-simple-objc to idle</string>
															<key>UUID</key>
															<string>C02EF626-0892-4B50-9B98-70D6F2C3EFE5</string>
														</dict>
														<dict>
															<key>ActivityType</key>
															<string>com.apple.dt.xctest.activity-type.internal</string>
															<key>FinishTimeInterval</key>
															<real>568123781.97975898</real>
															<key>StartTimeInterval</key>
															<real>568123781.94739699</real>
															<key>SubActivities</key>
															<array>
																<dict>
																	<key>ActivityType</key>
																	<string>com.apple.dt.xctest.activity-type.internal</string>
																	<key>FinishTimeInterval</key>
																	<real>568123781.97928596</real>
																	<key>StartTimeInterval</key>
																	<real>568123781.97481596</real>
																	<key>Title</key>
																	<string>Check for interrupting elements affecting Other</string>
																	<key>UUID</key>
																	<string>E26C42FC-B2E4-4F64-90C8-E8795E5BC065</string>
																</dict>
															</array>
															<key>Title</key>
															<string>Find the Other at {{0.0, 0.0}, {414.0, 736.0}}</string>
															<key>UUID</key>
															<string>CC095681-970D-404B-A866-1E8A41F21E5F</string>
														</dict>
														<dict>
															<key>ActivityType</key>
															<string>com.apple.dt.xctest.activity-type.internal</string>
															<key>FinishTimeInterval</key>
															<real>568123782.2306</real>
															<key>StartTimeInterval</key>
															<real>568123781.98015201</real>
															<key>Title</key>
															<string>Synthesize event</string>
															<key>UUID</key>
															<string>E182C551-1D9D-40AF-9872-DF3634B26D15</string>
														</dict>
														<dict>
															<key>ActivityType</key>
															<string>com.apple.dt.xctest.activity-type.internal</string>
															<key>FinishTimeInterval</key>
															<real>568123782.265872</real>
															<key>StartTimeInterval</key>
															<real>568123782.231745</real>
															<key>Title</key>
															<string>Wait for Bitrise.ios-simple-objc to idle</string>
															<key>UUID</key>
															<string>6623C1E5-C542-4651-ADA2-6DED871BC9B6</string>
														</dict>
													</array>
													<key>Title</key>
													<string>Swipe left Other at {{0.0, 0.0}, {414.0, 736.0}}</string>
													<key>UUID</key>
													<string>EF5142FE-B905-4BBE-8E3B-38D4F0C1E61A</string>
												</dict>
												<dict>
													<key>ActivityType</key>
													<string>com.apple.dt.xctest.activity-type.userCreated</string>
													<key>Attachments</key>
													<array>
														<dict>
															<key>Filename</key>
															<string>Screenshot of main screen (ID 1)_1_A07C26DB-8E1E-46ED-90F2-981438BE0BBA.png</string>
															<key>HasPayload</key>
															<true/>
															<key>InActivityIdentifier</key>
															<integer>1</integer>
															<key>Lifetime</key>
															<integer>0</integer>
															<key>Name</key>
															<string>Screenshot of main screen (ID 1)</string>
															<key>Timestamp</key>
															<real>568123782.31287897</real>
															<key>UniformTypeIdentifier</key>
															<string>public.png</string>
															<key>UserInfo</key>
															<dict>
																<key>Scale</key>
																<real>3</real>
															</dict>
														</dict>
													</array>
													<key>FinishTimeInterval</key>
													<real>568123782.31296802</real>
													<key>StartTimeInterval</key>
													<real>568123782.26736903</real>
													<key>Title</key>
													<string>screenshotGood</string>
													<key>UUID</key>
													<string>A07C26DB-8E1E-46ED-90F2-981438BE0BBA</string>
												</dict>
												<dict>
													<key>ActivityType</key>
													<string>com.apple.dt.xctest.activity-type.internal</string>
													<key>FinishTimeInterval</key>
													<real>568123782.314147</real>
													<key>StartTimeInterval</key>
													<real>568123782.31367505</real>
													<key>Title</key>
													<string>Tear Down</string>
													<key>UUID</key>
													<string>9971194D-6714-45AF-9B94-2C052307EBD9</string>
												</dict>
											</array>
											<key>Duration</key>
											<real>5.6506670713424683</real>
											<key>TestIdentifier</key>
											<string>ios_simple_objcUITests/testExample</string>
											<key>TestName</key>
											<string>testExample</string>
											<key>TestObjectClass</key>
											<string>IDESchemeActionTestSummary</string>
											<key>TestStatus</key>
											<string>Success</string>
											<key>TestSummaryGUID</key>
											<string>EDD849BA-4D01-4260-A7C8-E16837C3EBAF</string>
										</dict>
										<dict>
											<key>ActivitySummaries</key>
											<array>
												<dict>
													<key>ActivityType</key>
													<string>com.apple.dt.xctest.activity-type.internal</string>
													<key>Attachments</key>
													<array>
														<dict>
															<key>Filename</key>
															<string>Screenshot_034A6AFF-BFBF-4068-9029-BAD05BA3A7A8.jpg</string>
															<key>HasPayload</key>
															<true/>
															<key>InActivityIdentifier</key>
															<integer>1</integer>
															<key>Lifetime</key>
															<integer>1</integer>
															<key>Name</key>
															<string>kXCTAttachmentLegacyScreenImageData</string>
															<key>Timestamp</key>
															<real>568123782.55753899</real>
															<key>UniformTypeIdentifier</key>
															<string>public.jpeg</string>
														</dict>
													</array>
													<key>FinishTimeInterval</key>
													<real>568123782.55766594</real>
													<key>HasScreenshotData</key>
													<true/>
													<key>StartTimeInterval</key>
													<real>568123782.52069902</real>
													<key>Title</key>
													<string>Start Test at 2019-01-02 13:09:42.521</string>
													<key>UUID</key>
													<string>034A6AFF-BFBF-4068-9029-BAD05BA3A7A8</string>
												</dict>
												<dict>
													<key>ActivityType</key>
													<string>com.apple.dt.xctest.activity-type.internal</string>
													<key>FinishTimeInterval</key>
													<real>568123788.40689898</real>
													<key>StartTimeInterval</key>
													<real>568123782.55835903</real>
													<key>SubActivities</key>
													<array>
														<dict>
															<key>ActivityType</key>
															<string>com.apple.dt.xctest.activity-type.internal</string>
															<key>Attachments</key>
															<array>
																<dict>
																	<key>Filename</key>
																	<string>Screenshot_8F5604D1-3347-42C1-8BD7-B3A2F3ADCD4E.jpg</string>
																	<key>HasPayload</key>
																	<true/>
																	<key>InActivityIdentifier</key>
																	<integer>1</integer>
																	<key>Lifetime</key>
																	<integer>1</integer>
																	<key>Name</key>
																	<string>kXCTAttachmentLegacyScreenImageData</string>
																	<key>Timestamp</key>
																	<real>568123782.587901</real>
																	<key>UniformTypeIdentifier</key>
																	<string>public.jpeg</string>
																</dict>
															</array>
															<key>FinishTimeInterval</key>
															<real>568123788.40642095</real>
															<key>HasScreenshotData</key>
															<true/>
															<key>StartTimeInterval</key>
															<real>568123782.559232</real>
															<key>SubActivities</key>
															<array>
																<dict>
																	<key>ActivityType</key>
																	<string>com.apple.dt.xctest.activity-type.internal</string>
																	<key>FinishTimeInterval</key>
																	<real>568123788.40530705</real>
																	<key>StartTimeInterval</key>
																	<real>568123782.58796501</real>
																	<key>SubActivities</key>
																	<array>
																		<dict>
																			<key>ActivityType</key>
																			<string>com.apple.dt.xctest.activity-type.internal</string>
																			<key>Attachments</key>
																			<array>
																				<dict>
																					<key>Filename</key>
																					<string>Screenshot_1693FCD4-D16D-43C9-B686-03A09A853A9C.jpg</string>
																					<key>HasPayload</key>
																					<true/>
																					<key>InActivityIdentifier</key>
																					<integer>1</integer>
																					<key>Lifetime</key>
																					<integer>1</integer>
																					<key>Name</key>
																					<string>kXCTAttachmentLegacyScreenImageData</string>
																					<key>Timestamp</key>
																					<real>568123782.61869299</real>
																					<key>UniformTypeIdentifier</key>
																					<string>public.jpeg</string>
																				</dict>
																			</array>
																			<key>FinishTimeInterval</key>
																			<real>568123783.71672106</real>
																			<key>HasScreenshotData</key>
																			<true/>
																			<key>StartTimeInterval</key>
																			<real>568123782.58838904</real>
																			<key>Title</key>
																			<string>Terminate Bitrise.ios-simple-objc:69029</string>
																			<key>UUID</key>
																			<string>1693FCD4-D16D-43C9-B686-03A09A853A9C</string>
																		</dict>
																		<dict>
																			<key>ActivityType</key>
																			<string>com.apple.dt.xctest.activity-type.internal</string>
																			<key>FinishTimeInterval</key>
																			<real>568123786.50234997</real>
																			<key>StartTimeInterval</key>
																			<real>568123786.40035999</real>
																			<key>Title</key>
																			<string>Wait for accessibility to load</string>
																			<key>UUID</key>
																			<string>C92C287A-83CC-4520-A237-FCFC13DF9165</string>
																		</dict>
																		<dict>
																			<key>ActivityType</key>
																			<string>com.apple.dt.xctest.activity-type.internal</string>
																			<key>Attachments</key>
																			<array>
																				<dict>
																					<key>Filename</key>
																					<string>Screenshot_F7E0E4C4-3808-4917-8E46-8BFAB7017117.jpg</string>
																					<key>HasPayload</key>
																					<true/>
																					<key>InActivityIdentifier</key>
																					<integer>1</integer>
																					<key>Lifetime</key>
																					<integer>1</integer>
																					<key>Name</key>
																					<string>kXCTAttachmentLegacyScreenImageData</string>
																					<key>Timestamp</key>
																					<real>568123787.07575297</real>
																					<key>UniformTypeIdentifier</key>
																					<string>public.jpeg</string>
																				</dict>
																			</array>
																			<key>FinishTimeInterval</key>
																			<real>568123787.39933503</real>
																			<key>HasScreenshotData</key>
																			<true/>
																			<key>StartTimeInterval</key>
																			<real>568123786.97095001</real>
																			<key>Title</key>
																			<string>Wait for Bitrise.ios-simple-objc to idle</string>
																			<key>UUID</key>
																			<string>F7E0E4C4-3808-4917-8E46-8BFAB7017117</string>
																		</dict>
																	</array>
																	<key>Title</key>
																	<string>Launch Bitrise.ios-simple-objc</string>
																	<key>UUID</key>
																	<string>BED6396F-C739-4655-91A6-A4626E00D3E3</string>
																</dict>
															</array>
															<key>Title</key>
															<string>Open Bitrise.ios-simple-objc</string>
															<key>UUID</key>
															<string>8F5604D1-3347-42C1-8BD7-B3A2F3ADCD4E</string>
														</dict>
													</array>
													<key>Title</key>
													<string>Set Up</string>
													<key>UUID</key>
													<string>B4BB356E-1954-4785-85E4-E3AECA28D99D</string>
												</dict>
												<dict>
													<key>ActivityType</key>
													<string>com.apple.dt.xctest.activity-type.internal</string>
													<key>FinishTimeInterval</key>
													<real>568123788.76407099</real>
													<key>StartTimeInterval</key>
													<real>568123788.40829003</real>
													<key>SubActivities</key>
													<array>
														<dict>
															<key>ActivityType</key>
															<string>com.apple.dt.xctest.activity-type.internal</string>
															<key>Attachments</key>
															<array>
																<dict>
																	<key>Filename</key>
																	<string>Screenshot_4A80445E-AE4E-4A28-81C2-DC48585EA041.jpg</string>
																	<key>HasPayload</key>
																	<true/>
																	<key>InActivityIdentifier</key>
																	<integer>1</integer>
																	<key>Lifetime</key>
																	<integer>1</integer>
																	<key>Name</key>
																	<string>kXCTAttachmentLegacyScreenImageData</string>
																	<key>Timestamp</key>
																	<real>568123788.44090402</real>
																	<key>UniformTypeIdentifier</key>
																	<string>public.jpeg</string>
																</dict>
															</array>
															<key>FinishTimeInterval</key>
															<real>568123788.44347799</real>
															<key>HasScreenshotData</key>
															<true/>
															<key>StartTimeInterval</key>
															<real>568123788.40924704</real>
															<key>Title</key>
															<string>Wait for Bitrise.ios-simple-objc to idle</string>
															<key>UUID</key>
															<string>4A80445E-AE4E-4A28-81C2-DC48585EA041</string>
														</dict>
														<dict>
															<key>ActivityType</key>
															<string>com.apple.dt.xctest.activity-type.internal</string>
															<key>FinishTimeInterval</key>
															<real>568123788.481408</real>
															<key>StartTimeInterval</key>
															<real>568123788.44425094</real>
															<key>SubActivities</key>
															<array>
																<dict>
																	<key>ActivityType</key>
																	<string>com.apple.dt.xctest.activity-type.internal</string>
																	<key>FinishTimeInterval</key>
																	<real>568123788.48088396</real>
																	<key>StartTimeInterval</key>
																	<real>568123788.47683406</real>
																	<key>Title</key>
																	<string>Check for interrupting elements affecting Other</string>
																	<key>UUID</key>
																	<string>859AB4A2-ABDB-47D1-AFFE-5F1F635EC717</string>
																</dict>
															</array>
															<key>Title</key>
															<string>Find the Other</string>
															<key>UUID</key>
															<string>806ECC1A-1E02-48A9-857F-BE62CB07000C</string>
														</dict>
														<dict>
															<key>ActivityType</key>
															<string>com.apple.dt.xctest.activity-type.internal</string>
															<key>Attachments</key>
															<array>
																<dict>
																	<key>Filename</key>
																	<string>Screenshot_66CCA072-B75F-4EB4-8D20-11BC71718649.jpg</string>
																	<key>HasPayload</key>
																	<true/>
																	<key>InActivityIdentifier</key>
																	<integer>1</integer>
																	<key>Lifetime</key>
																	<integer>1</integer>
																	<key>Name</key>
																	<string>kXCTAttachmentLegacyScreenImageData</string>
																	<key>Timestamp</key>
																	<real>568123788.51215005</real>
																	<key>UniformTypeIdentifier</key>
																	<string>public.jpeg</string>
																</dict>
															</array>
															<key>FinishTimeInterval</key>
															<real>568123788.72943795</real>
															<key>HasScreenshotData</key>
															<true/>
															<key>StartTimeInterval</key>
															<real>568123788.48192894</real>
															<key>Title</key>
															<string>Synthesize event</string>
															<key>UUID</key>
															<string>66CCA072-B75F-4EB4-8D20-11BC71718649</string>
														</dict>
														<dict>
															<key>ActivityType</key>
															<string>com.apple.dt.xctest.activity-type.internal</string>
															<key>Attachments</key>
															<array>
																<dict>
																	<key>Filename</key>
																	<string>Screenshot_BA12CA90-B126-4693-90A2-5C4557696A83.jpg</string>
																	<key>HasPayload</key>
																	<true/>
																	<key>InActivityIdentifier</key>
																	<integer>1</integer>
																	<key>Lifetime</key>
																	<integer>1</integer>
																	<key>Name</key>
																	<string>kXCTAttachmentLegacyScreenImageData</string>
																	<key>Timestamp</key>
																	<real>568123788.76065505</real>
																	<key>UniformTypeIdentifier</key>
																	<string>public.jpeg</string>
																</dict>
															</array>
															<key>FinishTimeInterval</key>
															<real>568123788.76351202</real>
															<key>HasScreenshotData</key>
															<true/>
															<key>StartTimeInterval</key>
															<real>568123788.73046303</real>
															<key>Title</key>
															<string>Wait for Bitrise.ios-simple-objc to idle</string>
															<key>UUID</key>
															<string>BA12CA90-B126-4693-90A2-5C4557696A83</string>
														</dict>
													</array>
													<key>Title</key>
													<string>Swipe right Other</string>
													<key>UUID</key>
													<string>FAEC9FE1-41B2-4EE3-8EF2-090574139FEE</string>
												</dict>
												<dict>
													<key>ActivityType</key>
													<string>com.apple.dt.xctest.activity-type.internal</string>
													<key>FinishTimeInterval</key>
													<real>568123789.11100399</real>
													<key>StartTimeInterval</key>
													<real>568123788.76456904</real>
													<key>SubActivities</key>
													<array>
														<dict>
															<key>ActivityType</key>
															<string>com.apple.dt.xctest.activity-type.internal</string>
															<key>Attachments</key>
															<array>
																<dict>
																	<key>Filename</key>
																	<string>Screenshot_9C65CCFA-C3C5-46CA-AA69-10DB96ADFE8C.jpg</string>
																	<key>HasPayload</key>
																	<true/>
																	<key>InActivityIdentifier</key>
																	<integer>1</integer>
																	<key>Lifetime</key>
																	<integer>1</integer>
																	<key>Name</key>
																	<string>kXCTAttachmentLegacyScreenImageData</string>
																	<key>Timestamp</key>
																	<real>568123788.79414499</real>
																	<key>UniformTypeIdentifier</key>
																	<string>public.jpeg</string>
																</dict>
															</array>
															<key>FinishTimeInterval</key>
															<real>568123788.79973102</real>
															<key>HasScreenshotData</key>
															<true/>
															<key>StartTimeInterval</key>
															<real>568123788.76507795</real>
															<key>Title</key>
															<string>Wait for Bitrise.ios-simple-objc to idle</string>
															<key>UUID</key>
															<string>9C65CCFA-C3C5-46CA-AA69-10DB96ADFE8C</string>
														</dict>
														<dict>
															<key>ActivityType</key>
															<string>com.apple.dt.xctest.activity-type.internal</string>
															<key>FinishTimeInterval</key>
															<real>568123788.82854998</real>
															<key>StartTimeInterval</key>
															<real>568123788.80032897</real>
															<key>SubActivities</key>
															<array>
																<dict>
																	<key>ActivityType</key>
																	<string>com.apple.dt.xctest.activity-type.internal</string>
																	<key>FinishTimeInterval</key>
																	<real>568123788.82780695</real>
																	<key>StartTimeInterval</key>
																	<real>568123788.82338905</real>
																	<key>Title</key>
																	<string>Check for interrupting elements affecting Other</string>
																	<key>UUID</key>
																	<string>D2884174-E6FD-4FAC-9968-04FA0615A04E</string>
																</dict>
															</array>
															<key>Title</key>
															<string>Find the Other at {{0.0, 0.0}, {414.0, 736.0}}</string>
															<key>UUID</key>
															<string>D2E94645-8827-4D53-96B9-F1DDCB83B4A9</string>
														</dict>
														<dict>
															<key>ActivityType</key>
															<string>com.apple.dt.xctest.activity-type.internal</string>
															<key>Attachments</key>
															<array>
																<dict>
																	<key>Filename</key>
																	<string>Screenshot_86C01A5C-FD68-44D8-A8B5-A21CBBEE017E.jpg</string>
																	<key>HasPayload</key>
																	<true/>
																	<key>InActivityIdentifier</key>
																	<integer>1</integer>
																	<key>Lifetime</key>
																	<integer>1</integer>
																	<key>Name</key>
																	<string>kXCTAttachmentLegacyScreenImageData</string>
																	<key>Timestamp</key>
																	<real>568123788.85887301</real>
																	<key>UniformTypeIdentifier</key>
																	<string>public.jpeg</string>
																</dict>
															</array>
															<key>FinishTimeInterval</key>
															<real>568123789.07414806</real>
															<key>HasScreenshotData</key>
															<true/>
															<key>StartTimeInterval</key>
															<real>568123788.82914102</real>
															<key>Title</key>
															<string>Synthesize event</string>
															<key>UUID</key>
															<string>86C01A5C-FD68-44D8-A8B5-A21CBBEE017E</string>
														</dict>
														<dict>
															<key>ActivityType</key>
															<string>com.apple.dt.xctest.activity-type.internal</string>
															<key>Attachments</key>
															<array>
																<dict>
																	<key>Filename</key>
																	<string>Screenshot_87508447-D6DE-4028-AD54-251E4310A456.jpg</string>
																	<key>HasPayload</key>
																	<true/>
																	<key>InActivityIdentifier</key>
																	<integer>1</integer>
																	<key>Lifetime</key>
																	<integer>1</integer>
																	<key>Name</key>
																	<string>kXCTAttachmentLegacyScreenImageData</string>
																	<key>Timestamp</key>
																	<real>568123789.10750604</real>
																	<key>UniformTypeIdentifier</key>
																	<string>public.jpeg</string>
																</dict>
															</array>
															<key>FinishTimeInterval</key>
															<real>568123789.110484</real>
															<key>HasScreenshotData</key>
															<true/>
															<key>StartTimeInterval</key>
															<real>568123789.07538795</real>
															<key>Title</key>
															<string>Wait for Bitrise.ios-simple-objc to idle</string>
															<key>UUID</key>
															<string>87508447-D6DE-4028-AD54-251E4310A456</string>
														</dict>
													</array>
													<key>Title</key>
													<string>Swipe left Other at {{0.0, 0.0}, {414.0, 736.0}}</string>
													<key>UUID</key>
													<string>558A6FE2-D7CB-4AE4-A265-00736B4A6586</string>
												</dict>
												<dict>
													<key>ActivityType</key>
													<string>com.apple.dt.xctest.activity-type.userCreated</string>
													<key>Attachments</key>
													<array>
														<dict>
															<key>Filename</key>
															<string>Screenshot of main screen (ID 1)_1_2B41C2BF-AB05-4FAC-A9F9-44C890C5DE2D.png</string>
															<key>HasPayload</key>
															<true/>
															<key>InActivityIdentifier</key>
															<integer>1</integer>
															<key>Lifetime</key>
															<integer>0</integer>
															<key>Name</key>
															<string>Screenshot of main screen (ID 1)</string>
															<key>Timestamp</key>
															<real>568123789.15843499</real>
															<key>UniformTypeIdentifier</key>
															<string>public.png</string>
															<key>UserInfo</key>
															<dict>
																<key>Scale</key>
																<real>3</real>
															</dict>
														</dict>
													</array>
													<key>FinishTimeInterval</key>
													<real>568123789.15852106</real>
													<key>StartTimeInterval</key>
													<real>568123789.11149597</real>
													<key>Title</key>
													<string>screenshotFailing</string>
													<key>UUID</key>
													<string>2B41C2BF-AB05-4FAC-A9F9-44C890C5DE2D</string>
												</dict>
												<dict>
													<key>ActivityType</key>
													<string>com.apple.dt.xctest.activity-type.testAssertionFailure</string>
													<key>Attachments</key>
													<array>
														<dict>
															<key>Filename</key>
															<string>Screenshot_9B480F36-DD79-489D-A136-3D31E3776BBE.jpg</string>
															<key>HasPayload</key>
															<true/>
															<key>InActivityIdentifier</key>
															<integer>1</integer>
															<key>Lifetime</key>
															<integer>1</integer>
															<key>Name</key>
															<string>kXCTAttachmentLegacyScreenImageData</string>
															<key>Timestamp</key>
															<real>568123789.185058</real>
															<key>UniformTypeIdentifier</key>
															<string>public.jpeg</string>
														</dict>
													</array>
													<key>FinishTimeInterval</key>
													<real>568123789.18517995</real>
													<key>HasScreenshotData</key>
													<true/>
													<key>StartTimeInterval</key>
													<real>568123789.15948403</real>
													<key>Title</key>
													<string>Assertion Failure: ios_simple_objcUITests.m:64: ((NO) is true) failed</string>
													<key>UUID</key>
													<string>9B480F36-DD79-489D-A136-3D31E3776BBE</string>
												</dict>
												<dict>
													<key>ActivityType</key>
													<string>com.apple.dt.xctest.activity-type.internal</string>
													<key>FinishTimeInterval</key>
													<real>568123789.18833697</real>
													<key>StartTimeInterval</key>
													<real>568123789.18780303</real>
													<key>Title</key>
													<string>Tear Down</string>
													<key>UUID</key>
													<string>7BCFF96C-0B8C-409F-98B7-EC9761F5A05C</string>
												</dict>
											</array>
											<key>Duration</key>
											<real>6.669111967086792</real>
											<key>FailureSummaries</key>
											<array>
												<dict>
													<key>FileName</key>
													<string>/Users/lpusok/Develop/go/src/github.com/bitrise-io/steps-xcode-test/_tmp/ios-simple-objc/ios-simple-objcUITests/ios_simple_objcUITests.m</string>
													<key>LineNumber</key>
													<integer>64</integer>
													<key>Message</key>
													<string>((NO) is true) failed</string>
													<key>PerformanceFailure</key>
													<false/>
												</dict>
											</array>
											<key>TestIdentifier</key>
											<string>ios_simple_objcUITests/testFailing</string>
											<key>TestName</key>
											<string>testFailing</string>
											<key>TestObjectClass</key>
											<string>IDESchemeActionTestSummary</string>
											<key>TestStatus</key>
											<string>Failure</string>
											<key>TestSummaryGUID</key>
											<string>1115122C-FB45-4B37-8CCE-2420AF765422</string>
										</dict>
									</array>
									<key>TestIdentifier</key>
									<string>ios_simple_objcUITests</string>
									<key>TestName</key>
									<string>ios_simple_objcUITests</string>
									<key>TestObjectClass</key>
									<string>IDESchemeActionTestSummaryGroup</string>
								</dict>
							</array>
							<key>TestIdentifier</key>
							<string>ios-simple-objcUITests.xctest</string>
							<key>TestName</key>
							<string>ios-simple-objcUITests.xctest</string>
							<key>TestObjectClass</key>
							<string>IDESchemeActionTestSummaryGroup</string>
						</dict>
					</array>
					<key>TestIdentifier</key>
					<string>All tests</string>
					<key>TestName</key>
					<string>All tests</string>
					<key>TestObjectClass</key>
					<string>IDESchemeActionTestSummaryGroup</string>
				</dict>
			</array>
		</dict>
	</array>
</dict>
</plist>
