<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>FormatVersion</key>
	<string>1.2</string>
	<key>RunDestination</key>
	<dict>
		<key>LocalComputer</key>
		<dict>
			<key>BusSpeedInMHz</key>
			<integer>100</integer>
			<key>CPUCount</key>
			<integer>1</integer>
			<key>CPUKind</key>
			<string>Intel Core i5</string>
			<key>CPUSpeedInMHz</key>
			<integer>2400</integer>
			<key>Identifier</key>
			<string>AEA62323-2E03-5CF7-8579-222F26613C4B</string>
			<key>IsConcreteDevice</key>
			<true/>
			<key>LogicalCPUCoresPerPackage</key>
			<integer>4</integer>
			<key>ModelCode</key>
			<string>MacBookPro11,1</string>
			<key>ModelName</key>
			<string>MacBook Pro</string>
			<key>ModelUTI</key>
			<string>com.apple.macbookpro-13-retina-display</string>
			<key>Name</key>
			<string>My Mac</string>
			<key>NativeArchitecture</key>
			<string>x86_64h</string>
			<key>OperatingSystemVersion</key>
			<string>10.12.6</string>
			<key>OperatingSystemVersionWithBuildNumber</key>
			<string>10.12.6 (16G29)</string>
			<key>PhysicalCPUCoresPerPackage</key>
			<integer>2</integer>
			<key>Platform</key>
			<dict>
				<key>Identifier</key>
				<string>com.apple.platform.macosx</string>
				<key>Name</key>
				<string>macOS</string>
			</dict>
			<key>RAMSizeInMegabytes</key>
			<integer>8192</integer>
		</dict>
		<key>Name</key>
		<string>iPhone 6</string>
		<key>TargetArchitecture</key>
		<string>x86_64</string>
		<key>TargetDevice</key>
		<dict>
			<key>Identifier</key>
			<string>DA28D0A6-6DCC-454C-B200-817A65A9C2D3</string>
			<key>IsConcreteDevice</key>
			<true/>
			<key>ModelCode</key>
			<string>iPhone7,2</string>
			<key>ModelName</key>
			<string>iPhone 6</string>
			<key>ModelUTI</key>
			<string>com.apple.iphone-6-b4b5b9</string>
			<key>Name</key>
			<string>iPhone 6</string>
			<key>NativeArchitecture</key>
			<string>x86_64</string>
			<key>OperatingSystemVersion</key>
			<string>10.3.1</string>
			<key>OperatingSystemVersionWithBuildNumber</key>
			<string>10.3.1 (14E8301)</string>
			<key>Platform</key>
			<dict>
				<key>Identifier</key>
				<string>com.apple.platform.iphonesimulator</string>
				<key>Name</key>
				<string>iOS Simulator</string>
			</dict>
		</dict>
		<key>TargetSDK</key>
		<dict>
			<key>Identifier</key>
			<string>iphonesimulator10.3</string>
			<key>IsInternal</key>
			<false/>
			<key>Name</key>
			<string>Simulator - iOS 10.3</string>
			<key>OperatingSystemVersion</key>
			<string>10.3</string>
		</dict>
	</dict>
	<key>TestableSummaries</key>
	<array>
		<dict>
			<key>ProjectPath</key>
			<string>BitriseFastlaneSample.xcodeproj</string>
			<key>TargetName</key>
			<string>BitriseFastlaneSampleUITests</string>
			<key>TestName</key>
			<string>BitriseFastlaneSampleUITests</string>
			<key>TestObjectClass</key>
			<string>IDESchemeActionTestableSummary</string>
			<key>Tests</key>
			<array>
				<dict>
					<key>Duration</key>
					<real>6.8976889848709106</real>
					<key>Subtests</key>
					<array>
						<dict>
							<key>Duration</key>
							<real>6.8947489857673645</real>
							<key>Subtests</key>
							<array>
								<dict>
									<key>Duration</key>
									<real>6.8935009837150574</real>
									<key>Subtests</key>
									<array>
										<dict>
											<key>ActivitySummaries</key>
											<array>
												<dict>
													<key>FinishTimeInterval</key>
													<real>522686640.399737</real>
													<key>StartTimeInterval</key>
													<real>522686640.39908898</real>
													<key>Title</key>
													<string>Start Test at 2017-07-25 16:44:00.399</string>
													<key>UUID</key>
													<string>96455C42-CA61-4444-9914-3D553226E0D6</string>
												</dict>
												<dict>
													<key>FinishTimeInterval</key>
													<real>522686647.085042</real>
													<key>StartTimeInterval</key>
													<real>522686640.40113199</real>
													<key>SubActivities</key>
													<array>
														<dict>
															<key>FinishTimeInterval</key>
															<real>522686647.08311099</real>
															<key>HasScreenshotData</key>
															<true/>
															<key>StartTimeInterval</key>
															<real>522686640.41450697</real>
															<key>SubActivities</key>
															<array>
																<dict>
																	<key>FinishTimeInterval</key>
																	<real>522686646.08124202</real>
																	<key>HasScreenshotData</key>
																	<true/>
																	<key>StartTimeInterval</key>
																	<real>522686645.91036499</real>
																	<key>Title</key>
																	<string>Wait for app to idle</string>
																	<key>UUID</key>
																	<string>A0FB70C8-E4C8-4670-B88A-4D9C6308ECF4</string>
																</dict>
															</array>
															<key>Title</key>
															<string>Launch com.bitrise.BitriseFastlaneSample</string>
															<key>UUID</key>
															<string>31AE8B26-AC25-4F81-847E-4F4B075181D1</string>
														</dict>
													</array>
													<key>Title</key>
													<string>Set Up</string>
													<key>UUID</key>
													<string>D65CF45F-A231-4B7C-B382-56E8E958440B</string>
												</dict>
												<dict>
													<key>FinishTimeInterval</key>
													<real>522686647.086016</real>
													<key>StartTimeInterval</key>
													<real>522686647.08560199</real>
													<key>Title</key>
													<string>Tear Down</string>
													<key>UUID</key>
													<string>41A2BE5C-11C5-4330-AB13-856646653399</string>
												</dict>
											</array>
											<key>Duration</key>
											<real>6.8924379944801331</real>
											<key>TestIdentifier</key>
											<string>BitriseFastlaneSampleUITests/testExample()</string>
											<key>TestName</key>
											<string>testExample()</string>
											<key>TestObjectClass</key>
											<string>IDESchemeActionTestSummary</string>
											<key>TestStatus</key>
											<string>Success</string>
											<key>TestSummaryGUID</key>
											<string>1AB4F4E4-42D6-4994-9529-4FAAA896F752</string>
										</dict>
									</array>
									<key>TestIdentifier</key>
									<string>BitriseFastlaneSampleUITests</string>
									<key>TestName</key>
									<string>BitriseFastlaneSampleUITests</string>
									<key>TestObjectClass</key>
									<string>IDESchemeActionTestSummaryGroup</string>
								</dict>
							</array>
							<key>TestIdentifier</key>
							<string>BitriseFastlaneSampleUITests.xctest</string>
							<key>TestName</key>
							<string>BitriseFastlaneSampleUITests.xctest</string>
							<key>TestObjectClass</key>
							<string>IDESchemeActionTestSummaryGroup</string>
						</dict>
					</array>
					<key>TestIdentifier</key>
					<string>All tests</string>
					<key>TestName</key>
					<string>All tests</string>
					<key>TestObjectClass</key>
					<string>IDESchemeActionTestSummaryGroup</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>ProjectPath</key>
			<string>BitriseFastlaneSample.xcodeproj</string>
			<key>TargetName</key>
			<string>BitriseFastlaneSampleTests</string>
			<key>TestName</key>
			<string>BitriseFastlaneSampleTests</string>
			<key>TestObjectClass</key>
			<string>IDESchemeActionTestableSummary</string>
			<key>Tests</key>
			<array>
				<dict>
					<key>Duration</key>
					<real>0.35589402914047241</real>
					<key>Subtests</key>
					<array>
						<dict>
							<key>Duration</key>
							<real>0.35447204113006592</real>
							<key>Subtests</key>
							<array>
								<dict>
									<key>Duration</key>
									<real>0.35338002443313599</real>
									<key>Subtests</key>
									<array>
										<dict>
											<key>Duration</key>
											<real>0.001855015754699707</real>
											<key>TestIdentifier</key>
											<string>BitriseFastlaneSampleTests/testExample()</string>
											<key>TestName</key>
											<string>testExample()</string>
											<key>TestObjectClass</key>
											<string>IDESchemeActionTestSummary</string>
											<key>TestStatus</key>
											<string>Success</string>
											<key>TestSummaryGUID</key>
											<string>5068EEBB-9160-4D78-8BCC-DCF8FF31ED8A</string>
										</dict>
										<dict>
											<key>Duration</key>
											<real>0.3503989577293396</real>
											<key>PerformanceMetrics</key>
											<array>
												<dict>
													<key>Identifier</key>
													<string>com.apple.XCTPerformanceMetric_WallClockTime</string>
													<key>MaxPercentRegression</key>
													<integer>10</integer>
													<key>MaxPercentRelativeStandardDeviation</key>
													<integer>10</integer>
													<key>MaxRegression</key>
													<real>0.10000000000000001</real>
													<key>MaxStandardDeviation</key>
													<real>0.10000000000000001</real>
													<key>Measurements</key>
													<array>
														<real>6.6869999999999997e-06</real>
														<real>9.6299999999999993e-07</real>
														<real>5.7800000000000001e-07</real>
														<real>4.8999999999999997e-07</real>
														<real>3.3999999999999997e-07</real>
														<real>4.1399999999999997e-07</real>
														<real>5.2e-07</real>
														<real>3.8200000000000001e-07</real>
														<real>3.5900000000000003e-07</real>
														<real>4.03e-07</real>
													</array>
													<key>Name</key>
													<string>Time</string>
													<key>UnitOfMeasurement</key>
													<string>seconds</string>
												</dict>
											</array>
											<key>TestIdentifier</key>
											<string>BitriseFastlaneSampleTests/testPerformanceExample()</string>
											<key>TestName</key>
											<string>testPerformanceExample()</string>
											<key>TestObjectClass</key>
											<string>IDESchemeActionTestSummary</string>
											<key>TestStatus</key>
											<string>Success</string>
											<key>TestSummaryGUID</key>
											<string>7DDCB9D7-076F-46F5-83B0-977E85834973</string>
										</dict>
									</array>
									<key>TestIdentifier</key>
									<string>BitriseFastlaneSampleTests</string>
									<key>TestName</key>
									<string>BitriseFastlaneSampleTests</string>
									<key>TestObjectClass</key>
									<string>IDESchemeActionTestSummaryGroup</string>
								</dict>
							</array>
							<key>TestIdentifier</key>
							<string>BitriseFastlaneSampleTests.xctest</string>
							<key>TestName</key>
							<string>BitriseFastlaneSampleTests.xctest</string>
							<key>TestObjectClass</key>
							<string>IDESchemeActionTestSummaryGroup</string>
						</dict>
					</array>
					<key>TestIdentifier</key>
					<string>All tests</string>
					<key>TestName</key>
					<string>All tests</string>
					<key>TestObjectClass</key>
					<string>IDESchemeActionTestSummaryGroup</string>
				</dict>
			</array>
		</dict>
	</array>
</dict>
</plist>
